In [0]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving sample.csv to sample.csv
Saving test.csv to test.csv
Saving train.csv to train.csv
User uploaded file "sample.csv" with length 106031 bytes
User uploaded file "test.csv" with length 511695 bytes
User uploaded file "train.csv" with length 1215487 bytes

# Importing Dataset

In [0]:
df=pd.read_csv('train.csv')

In [176]:
df.head()

,victim_id,incident_time,incident_date,incident_location,incident_tehsil,cause_of_emergency,base_to_scene_distance,scene_to_hospital_distance,roadway_feature,road_type,surrounding_area,criticality
0,VIC20120001987267,22:23:19,07-11-2012,Subhash Nagar,Raipur,Multiple Vehicular Incident,13,12,CUR,HIW,FOR,0
1,VIC20110002147887,20:23:09,02-11-2011,Coro Nation,Raipur,2 Wheeler accidents,1,5,CUR,HIW,AGL,0
2,VIC20090001391483,20:37:15,25-07-2009,Kewal Vihar,Raipur,"Non motorised vehicle accidents(Bullock cart,B...",2,2,INT,LOC,HOSP,0
3,VIC20120000900722,15:20:22,19-05-2012,I S B T,Raipur,2 Wheeler accidents,8,4,CUR,HIW,HIL,0
4,VIC20100001241285,16:22:17,12-06-2010,Sahaspur Ambu,Sahaspur,2 Wheeler accidents,1,26,CUR,HIW,AGL,0

In [0]:
df=df.drop('victim_id',axis=1)

**FEATURE ENGINEERING**

In [0]:
incident_count=df['incident_location'].value_counts()

In [0]:
keys=incident_count.keys()

In [0]:
ans1={}

In [0]:
for i in range(len(incident_count)):
    index=keys[i]
    positive=len(df[df['incident_location']==index][df[df['incident_location']==index]['criticality']==1])
    if positive > 3 :
        ans1.update({index:positive})

In [0]:
city=['Demo Ambu','Doiwala Ambu','Premnagar Ambu','Raipur','Raiwala','Rishikesh','Selaqui','Vikasnagar']

In [0]:
def iscity(x):
    flag=0
    for i in range(len(city)):
        if x==city[i]:
            flag=1
    return flag

In [0]:
df['Sensitive_city']=df['incident_location'].map(lambda m: iscity(m))

In [0]:
df['incident_time'] =  pd.to_datetime(df['incident_time'])

In [0]:
def con2quad(x):
    if(x>=pd.to_datetime('00:00:00') and x<=pd.to_datetime('04:00:00')):
        return 't1'
    if(x>=pd.to_datetime('04:00:01') and x<=pd.to_datetime('08:00:00')):
        return 't2'
    if(x>=pd.to_datetime('08:00:01') and x<=pd.to_datetime('12:00:00')):
        return 't3'
    if(x>=pd.to_datetime('12:00:01') and x<=pd.to_datetime('17:00:00')):
        return 't4'
    if(x>=pd.to_datetime('17:00:01') and x<=pd.to_datetime('23:00:00')):
        return 't5'
    if(x>=pd.to_datetime('23:00:01') and x<=pd.to_datetime('23:59:59')):
        return 't1'

In [0]:
df['time_quarter'] = df['incident_time'].map(lambda m: con2quad(m))

In [0]:
df['incident_date']=pd.to_datetime(df['incident_date'])

In [0]:
df['weekday'] = df['incident_date'].dt.dayofweek

In [0]:
######################################################################

In [0]:
df=df.drop('incident_time',axis=1)

In [0]:
df=df.drop('incident_date',axis=1)

In [0]:
df=df.drop('incident_location',axis=1)

In [313]:
df.head()

,incident_tehsil,cause_of_emergency,base_to_scene_distance,scene_to_hospital_distance,roadway_feature,road_type,surrounding_area,criticality,Sensitive_city,time_quarter,weekday
0,Raipur,Multiple Vehicular Incident,13,12,CUR,HIW,FOR,0,0,t5,2
1,Raipur,2 Wheeler accidents,1,5,CUR,HIW,AGL,0,0,t5,4
2,Raipur,"Non motorised vehicle accidents(Bullock cart,B...",2,2,INT,LOC,HOSP,0,0,t5,5
3,Raipur,2 Wheeler accidents,8,4,CUR,HIW,HIL,0,0,t4,5
4,Sahaspur,2 Wheeler accidents,1,26,CUR,HIW,AGL,0,0,t4,0

In [0]:
df['time_quarter']=df['time_quarter'].astype('object')
df['Sensitive_city']=df['Sensitive_city'].astype('object')
df['weekday']=df['weekday'].astype('object')

In [0]:
##################################################################################

In [0]:
df_features=df

In [0]:
#df_features=df_features.drop('Sensitive_city',axis=1)

In [0]:
y = df_features.criticality
X = df_features.drop('criticality', axis=1)

In [197]:
X.head()

,incident_tehsil,cause_of_emergency,base_to_scene_distance,scene_to_hospital_distance,roadway_feature,road_type,Sensitive_city,time_quarter
0,Raipur,Multiple Vehicular Incident,13,12,CUR,HIW,0,t5
1,Raipur,2 Wheeler accidents,1,5,CUR,HIW,0,t5
2,Raipur,"Non motorised vehicle accidents(Bullock cart,B...",2,2,INT,LOC,0,t5
3,Raipur,2 Wheeler accidents,8,4,CUR,HIW,0,t4
4,Sahaspur,2 Wheeler accidents,1,26,CUR,HIW,0,t4

In [0]:
X=pd.get_dummies(X)

In [311]:
X.head()

,incident_time,base_to_scene_distance,scene_to_hospital_distance,incident_tehsil_Chakrata,incident_tehsil_Dehradun,incident_tehsil_Doiwala,incident_tehsil_Kalsi,incident_tehsil_Raipur,incident_tehsil_Sahaspur,incident_tehsil_Vikasnagar,...,time_quarter_t3,time_quarter_t4,time_quarter_t5,weekday_0,weekday_1,weekday_2,weekday_3,weekday_4,weekday_5,weekday_6
0,2018-03-18 22:23:19,13,12,0,0,0,0,1,0,0,...,0,0,1,0,0,1,0,0,0,0
1,2018-03-18 20:23:09,1,5,0,0,0,0,1,0,0,...,0,0,1,0,0,0,0,1,0,0
2,2018-03-18 20:37:15,2,2,0,0,0,0,1,0,0,...,0,0,1,0,0,0,0,0,1,0
3,2018-03-18 15:20:22,8,4,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,0,1,0
4,2018-03-18 16:22:17,1,26,0,0,0,0,0,1,0,...,0,1,0,1,0,0,0,0,0,0

In [0]:
TrainXcol=X.columns

In [0]:
#Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.1, random_state = 0)

In [257]:
X_train.shape

(10599, 41)

In [137]:
X_test.shape

(1178, 43)

In [113]:
"""from sklearn.linear_model import RandomizedLogisticRegression
randomlr = RandomizedLogisticRegression(selection_threshold=0.25)
X_train = randomlr.fit_transform(X_train,y_train)
X_test = randomlr.transform(X_test)"""

/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:58: DeprecationWarning: Class RandomizedLogisticRegression is deprecated; The class RandomizedLogisticRegression is deprecated in 0.19 and will be removed in 0.21.
  warnings.warn(msg, category=DeprecationWarning)

**SMOTE algorithm (Synthetic Minority Oversampling Technique)**

In [29]:
!pip install -U imbalanced-learn

Collecting imbalanced-learn
  Downloading imbalanced_learn-0.3.3-py3-none-any.whl (144kB)
    100% |████████████████████████████████| 153kB 3.1MB/s
Collecting scipy (from imbalanced-learn)
  Downloading scipy-1.0.0-cp36-cp36m-manylinux1_x86_64.whl (50.0MB)
    100% |████████████████████████████████| 50.0MB 25kB/s
Requirement already up-to-date: numpy in /usr/local/lib/python3.6/dist-packages (from imbalanced-learn)
Requirement already up-to-date: scikit-learn in /usr/local/lib/python3.6/dist-packages (from imbalanced-learn)
Installing collected packages: scipy, imbalanced-learn
  Found existing installation: scipy 0.19.1
    Uninstalling scipy-0.19.1:
      Successfully uninstalled scipy-0.19.1
Successfully installed imbalanced-learn-0.3.3 scipy-1.0.0

In [0]:
from imblearn.over_sampling import SMOTE 
sm = SMOTE(random_state=42,ratio=1.0)

In [31]:
X_train, y_train = sm.fit_sample(X_train, y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:77: DeprecationWarning: Function _ratio_float is deprecated; Use a float for 'ratio' is deprecated from version 0.2. The support will be removed in 0.4. Use a dict, str, or a callable instead.
  warnings.warn(msg, category=DeprecationWarning)

In [32]:
X_train.shape

(20266, 43)

In [33]:
X_test.shape

(1178, 43)

**Modelling**

**SVM model**

In [0]:
from sklearn.svm import SVC
svm_classifier = SVC(kernel='rbf', 
                class_weight='balanced', # penalize
                probability=True)

In [319]:
svm_classifier.fit(X_train, y_train)

SVC(C=1.0, cache_size=200, class_weight='balanced', coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=True, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [320]:
from sklearn.metrics import roc_auc_score
print(roc_auc_score(y_test, svm_classifier.predict(X_test)))

0.6881366182836771

**XGB**

In [268]:
from xgboost import XGBClassifier
classifier = XGBClassifier(n_estimators=100,class_weight='balanced')
classifier.fit(X_train, y_train)

XGBClassifier(base_score=0.5, booster='gbtree', class_weight='balanced',
       colsample_bylevel=1, colsample_bytree=1, gamma=0, learning_rate=0.1,
       max_delta_step=0, max_depth=3, min_child_weight=1, missing=None,
       n_estimators=100, n_jobs=1, nthread=None,
       objective='binary:logistic', random_state=0, reg_alpha=0,
       reg_lambda=1, scale_pos_weight=1, seed=None, silent=True,
       subsample=1)

In [269]:
from sklearn.metrics import roc_auc_score
print(roc_auc_score(y_test, classifier.predict(X_test)))

0.5

/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

**NEURAL NETWORK**

In [0]:
import keras
from keras.models import Sequential
from keras.layers import Dense,Dropout

In [0]:
classifier = Sequential()

# Adding the input layer and the first hidden layer
classifier.add(Dense(units = 70, kernel_initializer = 'uniform', activation = 'relu', input_dim = 43))
classifier.add(Dropout(0.5))

# Adding the second hidden layer
classifier.add(Dense(units = 30, kernel_initializer = 'uniform', activation = 'relu'))
classifier.add(Dropout(0.5))

# Adding the output layer
classifier.add(Dense(units = 1, kernel_initializer = 'uniform', activation = 'sigmoid'))

In [0]:
import tensorflow as tf
from keras import backend as K

def binary_PFA(y_true, y_pred, threshold=K.variable(value=0.5)):
    y_pred = K.cast(y_pred >= threshold, 'float32')
    # N = total number of negative labels
    N = K.sum(1 - y_true)
    # FP = total number of false alerts, alerts from the negative class labels
    FP = K.sum(y_pred - y_pred * y_true)    
    return FP/N

def binary_PTA(y_true, y_pred, threshold=K.variable(value=0.5)):
    y_pred = K.cast(y_pred >= threshold, 'float32')
    # P = total number of positive labels
    P = K.sum(y_true)
    # TP = total number of correct alerts, alerts from the positive class labels
    TP = K.sum(y_pred * y_true)    
    return TP/P

def auc(y_true, y_pred):   
    ptas = tf.stack([binary_PTA(y_true,y_pred,k) for k in np.linspace(0, 1, 1000)],axis=0)
    pfas = tf.stack([binary_PFA(y_true,y_pred,k) for k in np.linspace(0, 1, 1000)],axis=0)
    pfas = tf.concat([tf.ones((1,)) ,pfas],axis=0)
    binSizes = -(pfas[1:]-pfas[:-1])
    s = ptas*binSizes
    return K.sum(s, axis=0)

In [0]:
# Compiling the ANN
classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = [auc])

In [50]:
# Fitting the ANN to the Training set
classifier.fit(X_train, y_train, batch_size = 10, epochs = 10)

Epoch 1/10
20266/20266 [==============================] - 46s 2ms/step - loss: 0.5608 - auc: nan
Epoch 2/10
 5730/20266 [=======>......................] - ETA: 27s - loss: 0.5161 - auc: nan

20266/20266 [==============================] - 38s 2ms/step - loss: 0.5135 - auc: nan
Epoch 3/10
10140/20266 [==============>...............] - ETA: 18s - loss: 0.4915 - auc: nan

20266/20266 [==============================] - 38s 2ms/step - loss: 0.4891 - auc: nan
Epoch 4/10
12150/20266 [================>.............] - ETA: 14s - loss: 0.4760 - auc: nan

20266/20266 [==============================] - 37s 2ms/step - loss: 0.4669 - auc: nan
Epoch 5/10
13110/20266 [==================>...........] - ETA: 13s - loss: 0.4485 - auc: nan

20266/20266 [==============================] - 37s 2ms/step - loss: 0.4466 - auc: nan
Epoch 6/10
13490/20266 [==================>...........] - ETA: 12s - loss: 0.4389 - auc: nan

20266/20266 [==============================] - 38s 2ms/step - loss: 0.4318 - auc: nan
Epoch 7/10
13660/20266 [===================>..........] - ETA: 12s - loss: 0.4184 - auc: nan

20266/20266 [==============================] - 38s 2ms/step - loss: 0.4156 - auc: nan
Epoch 8/10
13760/20266 [===================>..........] - ETA: 12s - loss: 0.4063 - auc: nan

20266/20266 [==============================] - 38s 2ms/step - loss: 0.4043 - auc: nan
Epoch 9/10
13670/20266 [===================>..........] - ETA: 12s - loss: 0.3917 - auc: nan

20266/20266 [==============================] - 38s 2ms/step - loss: 0.3937 - auc: nan
Epoch 10/10
13590/20266 [===================>..........] - ETA: 12s - loss: 0.3862 - auc: nan

20266/20266 [==============================] - 38s 2ms/step - loss: 0.3812 - auc: nan

In [0]:
y_pred = classifier.predict(X_test)
y_pred = (y_pred > 0.5)

In [52]:
from sklearn.metrics import roc_auc_score
print(roc_auc_score(y_test, classifier.predict(X_test)))

0.7152088107970461

**Predicting**

In [0]:
df_test=pd.read_csv('test.csv')

In [0]:
sample=pd.read_csv('sample.csv')

In [323]:
sample.head()

           victim_id  criticality
0  VIC20100001032706            0
1  VIC20120000441519            0
2  VIC20130000014119            0
3  VIC20140000614145            0
4  VIC20090002298916            0

In [62]:
len(sample)

5048

In [273]:
df_test.head()

,victim_id,incident_time,incident_date,incident_location,incident_tehsil,cause_of_emergency,base_to_scene_distance,scene_to_hospital_distance,roadway_feature,road_type,surrounding_area
0,VIC20100001032706,15:46:12,19-05-2010,Chc Sahaspur,Sahaspur,MVC - Pedestrian (Run Over/Hit & Run),23,27,INT,LOC,MAR
1,VIC20120000441519,16:55:28,18-03-2012,Doiwala Ambulance,Doiwala,Multiple Vehicular Incident,5,21,CUR,HIW,AGL
2,VIC20130000014119,18:49:35,04-01-2013,Race Course Chowk,Raipur,Multiple Vehicular Incident,3,1,CUR,HIW,AGL
3,VIC20140000614145,16:22:55,31-05-2014,Selaqui,Sahaspur,Multiple Vehicular Incident,18,14,UNK,LOC,AGL
4,VIC20090002298916,15:35:15,08-12-2009,"Ambari Mode,Dakpather",Vikasnagar,2 Wheeler accidents,6,10,INT,LOC,MAR

In [0]:
df_test['Sensitive_city']=df_test['incident_location'].map(lambda m: iscity(m))

In [0]:
df_test['incident_time'] =  pd.to_datetime(df_test['incident_time'])

In [0]:
df_test['time_quarter'] = df_test['incident_time'].map(lambda m: con2quad(m))

In [0]:
df_test['Sensitive_city']=df['Sensitive_city'].astype('object')

In [0]:
df_test['incident_date']=pd.to_datetime(df_test['incident_date'])

In [0]:
df_test['weekday'] = df_test['incident_date'].dt.dayofweek

In [0]:
df_test['time_quarter']=df_test['time_quarter'].astype('object')
df_test['Sensitive_city']=df_test['Sensitive_city'].astype('object')
df_test['weekday']=df_test['weekday'].astype('object')

In [0]:
df_test=df_test.drop('victim_id',axis=1)
df_test=df_test.drop('incident_time',axis=1)
df_test=df_test.drop('incident_date',axis=1)
df_test=df_test.drop('incident_location',axis=1)

In [341]:
df_test.head()

,incident_tehsil,cause_of_emergency,base_to_scene_distance,scene_to_hospital_distance,roadway_feature,road_type,surrounding_area,Sensitive_city,time_quarter,weekday
0,Sahaspur,MVC - Pedestrian (Run Over/Hit & Run),23,27,INT,LOC,MAR,0,t4,2
1,Doiwala,Multiple Vehicular Incident,5,21,CUR,HIW,AGL,0,t4,6
2,Raipur,Multiple Vehicular Incident,3,1,CUR,HIW,AGL,0,t5,0
3,Sahaspur,Multiple Vehicular Incident,18,14,UNK,LOC,AGL,0,t4,5
4,Vikasnagar,2 Wheeler accidents,6,10,INT,LOC,MAR,0,t4,2

In [0]:
X_test=pd.get_dummies(df_test)

In [343]:
X_test.shape

(5048, 50)

In [0]:
TestXcol=X_test.columns

In [339]:
for i in range(len(TrainXcol)):
  f=0
  for j in range(len(TestXcol)):
    if TrainXcol[i]==TestXcol[j]:
      f=1
  if f==0:
    print(TrainXcol[i])

weekday_0
weekday_1
weekday_2
weekday_3
weekday_4
weekday_5
weekday_6

In [0]:
y_pred=svm_classifier.predict(X_test)

In [345]:
np.count_nonzero(y_pred)

1217

**saving file**

In [0]:
#Saving the file
result=pd.read_csv('sample.csv')
result['criticality']=y_pred

In [0]:
result.to_csv('svm_new_final.csv',index=False)

In [273]:
!ls

datalab  sample.csv  svm.csv  test.csv	train.csv

In [0]:
files.download('svm_new_final.csv')

In [275]:
np.count_nonzero(y_pred)

1236